:root{
    --firstText-color: #5C2E77;
    --secondText-color: #B29E3F;
    --thirdText-color: #84A73B;
    --firstBG-color: #b8a6c2;
    --secondBG-color: #fff8d7;
    --thirdBG-color: #e7f3cd;
    --firstHigh-color: #72498A;
    --secondHigh-color: #CEBC68;
    --thirdHigh-color: #A2C161;
    --firstNeu-color: #87659B;
    --secondNeu-color: #E7D892;
    --thirdNeu-color: #BFD888;
}

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px
}

.MarbleBg{
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1;
}

a{
    text-decoration: none;
    color: var(--firstHigh-color);
    text-align: center;
    font-size: 1.05rem;
    padding: 3px;   
}
    a:hover{
        cursor: pointer;
        color: var(--secondHigh-color);
        font-size: 1.3rem;
        padding: 3px;
    }

.sectionSelect{
    display: flex;
    flex-flow: column;
    position: fixed;
    top: 30%;
    left: 3%;
    z-index: 1;
}
    .section{
        display: flex;
        margin: 5px;
        cursor: pointer;
        height: 50px;
        width: 50px;
        border-radius: 25px;
        border: 2px var(--secondHigh-color) solid;
        align-items: center;
    }
        .section:hover{
            width: 100%;
            background-color: var(--secondBG-color);
            border: 5px var(--secondHigh-color) solid;
            transition: width 2s;
        }
    .sectionAbb{
        display: inline-flex;
        padding: 5px;
        font-size: 2rem;
        font-weight: bolder;
        width: 50px;
        height: 50px;
        color:var(--secondHigh-color);
        justify-content: center;
        align-items: center;
    }
        .sectionAbb:hover{
            color:var(--firstHigh-color);
            transition: color 1.5s;
        }
    .section--more{
        display: none;
    }
        .section:hover>.section--more{
            display: inline-flex;
            font-size: 1.2rem;
            color:var(--firstHigh-color);
            position: relative;
            right: 15px;
            top:3px;
            align-items: center;
        }

.page{
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

    .container__grid{
        height: 80%;
        width: 80%;
        justify-content: center;
        align-items: center;
    }
    @media screen and (min-width: 991px) {
        .container__grid{
            display: grid;
            grid-template: repeat(8,12.5%)/repeat(4,25%);
        }
    }
    @media screen and (max-width: 991px) {
        .container__grid{
            display: flex;
            flex-flow: column;
        }
    }
        .head{
            grid-area: 1/1/span 1/span 2;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            color: var(--secondText-color);
            font-size: 2.2rem;
        }
        .container__left{
            grid-area: 2/1/span 5/span 2;
            display: flex;
            flex-flow: column;
            width: 95%;
            justify-content: center;
            align-items: center;
        }
            .photo__box{
                display: flex;
                width: 300px;
                height: 300px;
                border-radius: 50%;
                background-color: var(--secondHigh-color);
                justify-content: center;
                align-items: center;
                grid-area: 2/1/span 2/span 2;
            }
                .photo{
                    width: 95%;
                    height: 95%;
                    border-radius: 50%;
                }
        .container__right{
            grid-area: 2/3/span 5/span 2;
            display: flex;
            flex-flow: column;
            width: 95%;
            justify-content: center;
            align-items: center;
        }
            .personalData{
                grid-area: 1/3/span 3/span 2;
                width: 90%
            }
            tr{
                display: block;
                padding: 5px;
            }
            td{
                display: block;
                padding: 3px;
            }
            td:first-child{
                color: var(--secondText-color);
                font-size: 1.2rem;
            }
            
            td:nth-child(2){
                color: var(--firstText-color);
                background-color: #ffffff;
                border-style: inset;
            }
        .profession{
            grid-area: 7/1/span 1/span 4;
            display: flex;
            width: 95%;
            justify-content: center;
            align-items: center;
            font-size: 1.3rem;
            color: var(--firstText-color);
        }
        .quote{
            grid-area: 8/1/span 1/span 4;
            display: flex;
            width: 95%;
            justify-content: center;
            align-items: center;
            font-size: 1.3rem;
            color: var(--firstText-color);
        }

    .container{
        display: flex;
        flex-flow: column;
        height: 80%;
        width: 80%;
        justify-content: center;
        align-items: center;
    }

    .container__eduwork{
        display: grid;
        height:80%;
        width:80%;
        grid-template: 10% repeat(3,30%)/100%;
        flex-flow: column;
    }
        .topic{
            display: flex;
            grid-area: 1/1/span 1/span 2;
            align-items: center;
            color: var(--secondText-color);
            font-size: 1.8rem;
            font-weight: bold;
        }

    .subContainer{
        display: flex;
        border: 2px var(--secondNeu-color) solid;
        margin:10px;
        width:100%;
        justify-content: center;
        align-items: center;
    }
    @media screen and (min-width: 991px) {
        .subContainer{
            flex-flow: row;
        }
        .topicHead{
            flex-flow: column;
            width: 10%;
            height: 100%;
        }
        .topicHead>.topic{
            transform: rotate(-90deg);
        }
        .eduWork{
            position: relative;
            top: 20%;
        }
    }
    @media screen and (max-width: 991px) {
        .subContainer{
            flex-flow: column;
            justify-content: flex-start;
        }
        .topicHead{
            flex-flow: column;
            width: 100%;
        }
    }
    .eduBlock {
        grid-area: 2/1/4/2;
    }
    .workBlock {
        grid-area: 4/1/5/2;
    }
    .topicHead{
        display: flex;
        justify-content: center;
        align-items:center;
        background-color: var(--secondNeu-color);
    }


.topicHead>.topic{
    color: var(--firstText-color);
    font-size: 1.4rem;
    font-weight:bold;
    text-align:center;
}
.subTopic{
    color: var(--secondHigh-color);
    font-size: 1.2rem;
    font-weight:bold;
    padding: 15px 0px;
    margin: 10px 0px;
    border-bottom:3px var(--thirdNeu-color) dashed;
}








.subBox{
    width:95%;
}
    .skillBox{
        display: flex;
        justify-content: center;
        align-items: center;
    }
        .skillHead{
            display: inline-flex;
            font-size: 1.1rem;
            font-weight: bold;
            color: var(--thirdText-color);
            background-color: var(--thirdBG-color);
            border: 2px var(--thirdHigh-color) solid;
            width: 25%;
            height: 40px;
            justify-content: center;
            align-items: center;
        }
        .skillContent{
            display: inline-flex;
            color: var(--thirdText-color);
            background-color:#ffffff;
            border: 2px var(--thirdHigh-color) solid;
            width: 70%;
            height: 40px;
            justify-content: center;
            align-items: center;
        }


.eduBox{
display: flex;
flex-flow: column;
width:90%;
}
    .eduBox:nth-child(2n){
        justify-content: flex-start;
    }
    .eduBox:nth-child(2n+1){
        justify-content: center;
    }
.workBox{
    display: flex;
    flex-flow: column;
    width:90%;
}
.eduWork{
    display: flex;
    flex-flow: column;
    border-radius: 5px;
    border: 1px var(--secondHigh-color) solid;
    background-color: #ffffff;
    margin: 2px;
    padding: 0px 0px 15px 0px;
}
.eduWork__year{
    border-radius: 5px;
    margin: 0px;
    background-color: var(--secondHigh-color);
    color: var(--firstHigh-color);
    font-size: 1.1rem;
    font-weight: bold;
    padding: 5px;
}

progress{
    width: 95%;
    height: 95%;
}

.contact{
    width: 90%;
}